* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    border: 1px;
    width: 400px;
    height: 300px;
    background: linear-gradient(151deg, #d7a5a5, #EDE8DC);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0;
    margin-left: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

.details {
    display: block;
}

button {
    margin: 10px;
    align-self: center;
    background-color: #E4003A;
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 16px; 
    border: none;
    border-radius: 10px;
    padding: 10px 20px; 
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.input {
    max-width: 200px;
    min-height: 30px;
    padding: 10px;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    background: #e8e8e8;
    border: none;
    display: block;
    border-radius: 10px;
    transition: all .5s;
}

.input:focus {
    background: #e8e8e8;
    box-shadow: inset 5px 5px 17px #c5c4c4,
        inset -5px -5px 17px #ffffff;
}


@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
        padding: 5px;
    }
}


.timer {
    display: flex;
    align-items: center;
}

#entries {
    border-collapse: collapse;
    width: 60%;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    display: none;
}

#entries th {
    background-color: rgb(121, 145, 2);
    color: white;
    padding: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 1.1em;
}

#entries td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#entries tr:nth-child(even) td {
    background-color: #f2f2f2;
}

#entries tr:hover td {
    background-color: #e0f7fa;
    box-shadow: 0 4px 12px rgba(104, 104, 104, 0.15);
    transform: scale(1.02);
}




/* background: linear-gradient(to bottom, #4b8701, #84c003); */